@media (min-width: 400px) {
	.carousel-inner img{ 
		max-height: 200px;
	}
}

@media (min-width: 768px) {
	.carousel-inner img{ 
		max-height: 300px;
	}
}

@media (min-width: 992px) {
	.carousel-inner img{ 
		max-height: 400px;
	}
}

@media (min-width: 1200px) {
	.carousel-inner img{ 
		max-height: 500px;
	}
}


.container-fluid{
	padding-right: 0;
	padding-left: 0;
}

.carousel-inner img {
	margin-top: 10%;

}

.thumbs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

.thumb-list {
	width: 5000px;
	overflow: hidden;
}

.thumb-list li {
	display: inline;
	list-style: none;
	float: left;
}

.thumbs img {
	max-height: 100px;
	width: auto;
}

